<div class="flex flex-col p-5 border">
  <div class="mb-2">Home Information</div>
  <form action="">
    <div class="flex flex-row mt-1">
      <label for="home_name" class="mr-2 w-20">Name</label>
      <input
        type="text"
        id="home_name"
        name="home_name"
        placeholder="CT beach house"
      />
    </div>

    <div class="flex flex-row mt-1">
      <label for="link" class="mr-2 w-20">Zillow Link</label>
      <input
        type="text"
        id="link"
        name="link"
        placeholder="zillow.com/ct-dream-home"
      />
    </div>

    <div class="flex flex-row mt-1">
      <label for="address" class="mr-2 w-20">Address</label>
      <input
        type="text"
        id="address"
        name="address"
        placeholder="1234 Hollymeadow Lane"
      />
    </div>

    <input type="submit" value="Add" class="mt-4" />
  </form>
</div>
