<div class="flex flex-col p-5 border">
  <label class="input input-bordered flex items-center gap-2">
    <input type="text" class="grow" placeholder="Name" />
  </label>
  <label class="input input-bordered flex items-center gap-2">
    <input type="text" class="grow" placeholder="Zillow Link" />
    <span class="badge badge-info">Optional</span>
  </label>
  <label class="input input-bordered flex items-center gap-2">
    <input type="text" class="grow" placeholder="Address" />
    <span class="badge badge-info">Optional</span>
  </label>
  <button class="btn btn-primary">Add</button>
</div>
